on:
  push:
   branch: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Mostrar version de java
        run: |
          echo "Version de java"
          java -v || echo "Java no instalado"