on:
  push:
   branch: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Mostrar fecha y hora
        run: |
          echo "Fecha y hora actual: $(date '+%Y-%m-%d %H:%M:%S')"